<ui-header-title>
  <span class="material-symbols-outlined">person_remove</span>
  <span> Inactivar Deportista </span>
</ui-header-title>

<span>
  <strong>¿Esta seguro que quiere inactivar al deportista?</strong> tenga en
  cuenta que si se inactiva, las credenciales del usuario seran revocadas
</span>
<!-- TODO: form invalid constraints -->
<ng-container [formGroup]="form">
  <ui-control-input attrFor="reason">
    <label> Razon de la inactivacion</label>
    <select formControlName="reason">
      <option value="" selected disabled>
        Seleccione una razon de la inactivacion
      </option>
      @for (reason of inactivationReasons; track reason) {
      <option [value]="reason">{{ reason }}</option>
      }
    </select>
  </ui-control-input>
  <ui-control-input attrFor="description">
    <label>Descripcion</label>
    <textarea
      formControlName="description"
      placeholder="Escriba una descripcion del porque de la inactivacion"
    ></textarea>
  </ui-control-input>
</ng-container>

<footer class="d-flex justify-content-end gap-2">
  <button
    class="btn btn-outline-danger"
    [disabled]="isLoading()"
    (click)="dialogRef.close()"
  >
    Cancelar
  </button>
  <button
    class="btn btn-outline-primary inactivar-btn d-flex gap-2 align-items-center"
    [disabled]="form.invalid || isLoading()"
    (click)="onDelete()"
  >
    @if (isLoading()) {
    <div class="spinner"></div>
    }
    <span>Inactivar</span>
  </button>
</footer>
