@use './libs/shared/src/ui/styles';
@use './styles/components/dialog';
@use '@angular/cdk' as cdk;

@include cdk.overlay();

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

label,
th {
  font-weight: 500;
}

.page {
  display: grid;
  gap: 25px;
  padding: 15px 20px;
}

.form-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: 16px;
  padding-top: 18px;
}

.divider {
  width: 100%;
  height: 3px;
  background: lightgray;
  border-radius: 5px;
}

.spinner {
  width: var(--spinner-size, 20px);
  height: var(--spinner-size, 20px);
  border: calc(var(--spinner-size, 24px) * 0.1) solid rgba(0, 0, 0, 0.1);
  border-left-color: currentColor;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
