<ui-header-title>
  <span class="material-symbols-outlined"> person_add </span>
  <span>Contratar entrenador</span>
</ui-header-title>

<span>
  En este formulario podras <strong> contratar un entrenador</strong>
</span>

<section>
  <ui-header-subtitle> Informacion general </ui-header-subtitle>
  <ui-user-general-info> </ui-user-general-info>
</section>

<section>
  <ui-header-subtitle> Informacion residencia </ui-header-subtitle>
  <ui-address-info> </ui-address-info>
</section>

<section>
  <ui-header-subtitle>Informacion tutor </ui-header-subtitle>
  <ui-tutor-info></ui-tutor-info>
</section>
<footer class="d-flex gap-2 justify-content-end">
  <button
    class="btn btn-outline-danger"
    [disabled]="isLoading()"
    (click)="cancel()"
  >
    Cancelar
  </button>
  <button
    class="btn btn-primary d-flex gap-2 align-items-center"
    [disabled]="isLoading()"
    (click)="create()"
  >
    @if (isLoading()) {
    <div class="spinner"></div>
    }
    <span>Contratar entrenador</span>
  </button>
</footer>
